<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h1 style="text-align: center;"> Welcome to Quora Insincere Questions Detection Tool! </h1>
<br/><br/>
<form style="text-align: center;" action="/postentry" method="POST">
    <p><h3><label for="query">Question to Detect: </label></h3></p>
    <br/>
    <p><input type="text" name="query" size=100 placeholder="e.g., Why don't poor countries print more money to use for paying for education, etc.?" /></p>
    <br/>
    <p><input type="submit" value="Submit"/></p>
</form>